/* main style start */
/* main style end */
* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
  main {
    display: flex;
    justify-content: center;
    background-color: #f3f1ff;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    margin: 26px 0;
  }
  
  /* main style end */
  
  /* --------------
  top player section start
  --------- */
  .container {
    width: 870px;
    padding: 33px;
    border-radius: 5px;
    background-color: #fff;
  }
  .top-area h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #562eff;
    text-transform: capitalize;
    padding-bottom: 40px;
  }
  .top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
  }
  .single-player {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .single-player img {
    width: 56px;
    height: 56px;
  }
  
  /* top player section end */
  
  /* -------------
   blog area start
  ---------- */
  .line-block {
    border: 1px solid #d1d1d1;
    margin: 30px 0;
  }
  .single-blog {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .single-blog img,
  .course-thumb img {
    width: 200px;
  }
  
  .blog-area {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 26px;
  }
  
  .blog-info h3 {
    font-size: 17px;
    line-height: 26px;
  }
  
  .blog-info p {
    font-size: 16px;
    color: #562eff;
    line-height: 24px;
  }
  
  .blog-info span {
    color: #9f9f9f;
  }
  /* blog area end */
  /* course area start */
  
  .courses-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
  
  .author-info {max-width: 210px;}
  /* course area end */
  
  .course-info h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    color: #1e1e1e;
  }

  .blog-info p {
    padding-top: 20px;
}
  
  .rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .hour {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3px;
      background: #FFE4E8;
      border-radius: 14px;
      padding: 5px 4px;
  }
  
  
  .rating-icon .fas {
      color: #FFC014;
      font-size: 12px;
  }
  
  .course-info p {
      font-size: 12px;
      color: #ED6B4F;
      font-family: 'Roboto',sans-serif;
  }
  
  .score-table p {
      font-size: 14px;
      color: #A2A2A2;
      line-height: 22px;
  }
  
  .hour-icon .far {
      font-size: 16px;
      color: #FF4A60;
  }
  
  .time {font-family: 'Open Sans',sans-serif;font-size: 14px;color: #FF4A60;}
  
  .single-course {
      border-radius: 13px;
      padding: 13px;
      box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
  }

  .rating-icon .gray{
     color: #A2A2A2;
  }

  @media (max-width:688px) {

  .container {
    width: 100%;
}

.blog-area,.courses-list,.top-player {
    grid-template-columns: 1fr;
}

.single-blog {
    flex-direction: column;
}

.single-blog img, .course-thumb img {
    width: 100%;
}

  }

  @media (min-width:688px) and (max-width: 992px) {

    .container {
        width: 100%;
    }  
  }